<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom styles -->
    <link  rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Users</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/header.html :: header (${'/userlist'})"></header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0 container">
        <div class="pt-3 pb-4 mb-3">
            <h3 class="table__header__header">Users</h3>
            <p class="text-left h6">Below is the list of users.</p>
        </div>
        <form id="toUserForm" th:action="@{/user}" method="GET"></form>
        <div class="d-flex justify-content-between mb-5">
            <div class="d-flex justify-content-start align-items-center mx-3" style="width: 180px;">
                <button sec:authorize="hasRole('ADMIN')" type="submit" form="toUserForm" class="btn btn-outline-primary btn-block">new user</button>
            </div>                
        </div>
        <table class="container table table-striped table-hover mb-5">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col" style="text-align: center;">Roles</th>
                    <th scope="col" style="width: 56px;"
                        sec:authorize="hasRole('ADMIN')">
                        <div style="width: 40px; text-align: center;">
                            <i class="fas fa-trash"></i>
                        </div>                
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.size() gt 0}" 
                    th:each="user: ${users}">
                    <td>
                        <a style="text-decoration: none;"
                            th:href="@{/user/} + ${user.id}" 
                            sec:authorize="hasRole('ADMIN')">
                            <span>[[${user.username}]]</span>
                        </a>
                        <span 
                            sec:authorize="hasAnyRole('SUPERUSER')">
                            [[${user.username}]]
                        </span>
                    </td>
                    <td class="text-center" th:text="${user.getRolesInString()}">RL</td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <!-- <a th:href="@{/deluser(id=${user.id})}" style="text-decoration: none;"><i class="fas fa-trash" style="color: lightgrey;"></i></a> -->
                        <form th:action="@{/userlist/{id}(id=${user.id})}" th:method="DELETE">
                            <button type="submit" class="btn btn-link py-0" style="text-decoration: none;"><i class="fas fa-trash" style="color: lightgrey;"></i></button>
                        </form>
                    </td>
                </tr>
                <tr th:unless="${users.size() gt 0}">
                    <td colspan="3" class="text-center">
                        No items found
                    </td>
                </tr>
            </tbody>
        </table>                
    </main>

    <footer th:replace="fragments/footer.html :: footer" class="footer mt-auto py-3">
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0fac6e7586.js" crossorigin="anonymous"></script>
</body>
</html>